extends ../layout

block content
	if (!user)
		header.page-header
			a.btn.btn-primary(href="/login") Login
			a.btn.btn-success(href="/register") Register

	.col-md-3

	.col-md-6
		form.form-group(role='form', action="/login", method="post")
			div
				label(for='inputUsername') Username:
				input.form-control#inputUsername(class={invalid: (errors.username != null)}, 
														type='text', 
														name="username", 
														placeholder='Enter Username', 
														value=body.username)
			div
				label(for='inputPassword') Password:
				input.form-control#inputPassword(class={invalid: (errors.password != null)}, 
														type='password', 
														name="password", 
														placeholder='Password')
			br
			button.btn.btn-primary.pull-right(type='submit') Submit

	.col-md-3
